body{
    background-color:floralwhite;
}

background{
    color: floralwhite;
}
.right_resume {
    background-color:floralwhite;
  }
.left_resume {
    background-color:cadetblue;
    height:190rem
  }

H2{
    color:dimgrey;
    font-size: large;
}

H1{
    color:dimgrey;
    font-size:xx-large
}

H3{
    font-size:large;
    color:dimgrey;
}

H4{
    font-size: large;
    color:dimgrey;
}

p{
    font-size:large;
    color:gray;
}

ul{
    color:dimgrey;
}

.display_pic{
    height: 12%;
    width : 100%;

}

a{
color:dimgrey;
}
.skills{
    color:floralwhite;
    font-size: 18px;
}

.skills_header{
    font-size:25px;
}